<html>
    <head>
        <title>DSA Visualiser</title>
        <meta name="author" content="Daniel Olusakin">
        <meta charset="UTF-8">
        <link href="webcustom.css" rel="stylesheet"/>
    </head>
    <body>
        <section>
            <h1>Data Structures & Algorithms Visualiser</h1>
            <p><em>Provides a visualisation of data structures and algorithms with animation.</em></p>
            <form>
                <input id="dsa_search" type="text" name="dsa" placeholder="Search">
                <button type="submit">-</button>
            </form> 
            <p>DSA Algorithm Visualiser was created by <a target="_blank" href="https://github.com/D1K03">Daniel Olusakin</a> with the purpose of giving Computer Science students a more interative way of learning the fundamentals of programming.</p>
        </section>
        <section>
                <h2>Data Structures</h2>
                <div class="container">
                  <div class="wrapper">
                      <img src=https://media1.tenor.com/m/2vu2AQ3_9ioAAAAd/cereal-fast.gif alt="Sorting Algorithms">
                      <p>Stack</p>
                    </div>
                    
                    <div class="wrapper">
                      <img src=https://media1.tenor.com/m/2vu2AQ3_9ioAAAAd/cereal-fast.gif alt="Sorting Algorithms">
                      <p>Linked List</p>
                    </div>
                    
                    <div class="wrapper">
                      <img src=https://media1.tenor.com/m/2vu2AQ3_9ioAAAAd/cereal-fast.gif alt="Sorting Algorithms">
                      <p>Queue</p>
                    </div>
                    
                    <div class="wrapper">
                      <img src=https://media1.tenor.com/m/2vu2AQ3_9ioAAAAd/cereal-fast.gif alt="Sorting Algorithms">
                      <p>Array</p>
                    </div>
                    
                    <div class="wrapper">
                      <img src=https://media1.tenor.com/m/2vu2AQ3_9ioAAAAd/cereal-fast.gif alt="Sorting Algorithms">
                      <p>Binary Tree</p>
                    </div>
                    
                    <div class="wrapper">
                      <img src=https://media1.tenor.com/m/2vu2AQ3_9ioAAAAd/cereal-fast.gif alt="Sorting Algorithms">
                      <p>Binary Search Tree</p>
                    </div>
                    
                    <div class="wrapper">
                      <img src=https://media1.tenor.com/m/2vu2AQ3_9ioAAAAd/cereal-fast.gif alt="Sorting Algorithms">
                      <p>Graph</p>
                    </div>
                    
                    <div class="wrapper">
                      <img src=https://media1.tenor.com/m/2vu2AQ3_9ioAAAAd/cereal-fast.gif alt="Sorting Algorithms">
                      <p>Heap</p>
                    </div>
                    
                    <div class="wrapper">
                      <img src=https://media1.tenor.com/m/2vu2AQ3_9ioAAAAd/cereal-fast.gif alt="Sorting Algorithms">
                      <p>Matrix</p>
                    </div>
                    
                    <div class="wrapper">
                      <img src=https://media1.tenor.com/m/2vu2AQ3_9ioAAAAd/cereal-fast.gif alt="Sorting Algorithms">
                      <p>Hash</p>
                    </div>
                </div>
        </section>
        <section>
                <h2>Algorithms</h2>
                <div class="container">
                  <div class="wrapper">
                      <img src=https://media1.tenor.com/m/2vu2AQ3_9ioAAAAd/cereal-fast.gif alt="Sorting Algorithms">
                      <p>Sorting</p>
                  </div>
                  <div class ="wrapper">
                      <img src=https://media1.tenor.com/m/2vu2AQ3_9ioAAAAd/cereal-fast.gif alt="Sorting Algorithms">
                      <p>Traversal</p>
                  </div>
                  <div class = "wrapper">
                      <img src=https://media1.tenor.com/m/2vu2AQ3_9ioAAAAd/cereal-fast.gif alt="Sorting Algorithms">
                      <p>Pathfinding</p>
                  </div>
                  <div class = "wrapper">
                      <img src=https://media1.tenor.com/m/2vu2AQ3_9ioAAAAd/cereal-fast.gif alt="Sorting Algorithms">
                      <p>Brute Force</p>
                  </div>
                  <div class = "wrapper">
                      <img src=https://media1.tenor.com/m/2vu2AQ3_9ioAAAAd/cereal-fast.gif alt="Sorting Algorithms">
                      <p>Recursive</p>
                  </div>
                  <div class = "wrapper">
                      <img src=https://media1.tenor.com/m/2vu2AQ3_9ioAAAAd/cereal-fast.gif alt="Sorting Algorithms">
                      <p>Hashing</p>
                  </div>
                  <div class = "wrapper">
                      <img src=https://media1.tenor.com/m/2vu2AQ3_9ioAAAAd/cereal-fast.gif alt="Sorting Algorithms">
                      <p>Divide and Conquer</p>
                  </div>
                </div>
        </section>
    </body>   
</html>